.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-image {
  background: url("../images/image-product-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 33%;
  height: 200px;
  width: 300px;
  background-color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.content {
  width: 300px;
  background-color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 20px;
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
  }
  
  .left-image {
    background-size: cover;
    background-position: 50% 0%;
    height: 400px;
    width: 200px;
    background-color: #fff;
    border-radius: 0px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  .content {
    height: 400px;
    width: 300px;
    background-color: #fff;
    border-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
  }
}

